@import "src/css/variables.scss";

.menu-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  &__inner-container {
    display: flex;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 var(--default-shadow-blur) var(--default-shadow-color);
    padding: 5px;

    .active {
      background-color: var(--default-theme-hoverColor);
      border-radius: 5px;
    }
  }

  &__button {
    margin: 0 8px;
    padding: 10px;
    border: none;
    color: black;
    cursor: pointer;

    &:hover {
      background-color: var(--default-theme-color);
      border-radius: 5px;
    }
  }
}
