@import "src/css/variables.scss";

.save-image {
  position: absolute;
  right: 0;

  &__icon {
    border-radius: 5px;
    background-color: var(--default-menu-bg-color);
    box-shadow: 0 0 var(--default-shadow-blur) var(--default-shadow-color);
  }

  &__menu-text {
    margin: 2px;
    padding: 0;
    font-size: var(--secondary-font-size);
  }
}