@import "src/css/variables.scss";

.save-image {
  position: absolute;
  right: 0;

  &__icon {
    border-radius: 5px;
    box-shadow: 0 0 var(--default-shadow-blur) var(--default-shadow-color);

    &-button {
      background-color: #fff;
      border: 1px solid #fff;
      text-transform: none;
      font-size: var(--secondary-font-size);
      box-shadow: none;
      color: #000;

      &:hover {
        background-color: var(--default-theme-color);
        border: 1px solid #fff;
        box-shadow: none;
      }
    }
  }

  &__menu-text {
    margin: 2px;
    padding: 0;
    font-size: var(--secondary-font-size);
  }
}
