@import "src/css/variables.scss";

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;

  &-button {
    width: 100%;
    text-transform: none;
    font-weight: bold;
    font-size: var(--default-font-size);
    color: #000;
    background-color: var(--default-theme-color);
    border: 1px solid var(--button-borderColor);
    &:hover {
      background-color: var(--default-theme-hoverColor);
    }
  }
}
