.help {
  position: absolute;
  right: 0;
  &__icon {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 100%;
  }
}

.help-dialog {
  &__button {
    width: 100%;
    text-transform: none;
    font-weight: bold;
    font-size: 12px;
    color: #000;
    padding: 5px 20px;
    background-color: #F3F8FF;
    border: 1px solid #dbeaff;

    &:hover {
      background-color: #d2e2f9;
    }
  }

  &__shortcuts {
    border: 1px solid #ebebeb;
    border-radius: 5px;

    &-title {
      margin: 15px 0;
    }

    &-shortcut {
      border-bottom: 1px solid #ebebeb;

      &:last-child {
        border-bottom: none;
      }
    }

    &-shortcut-key {
      background-color: #F3F8FF;
      margin: 0 5px;
      padding: 5px 5px;
    }
  }
}
