@import "src/css/variables.scss";

.help {
  position: absolute;
  right: 0;

  &__icon {
    display: flex;
    background-color: white;
    border-radius: var(--default-border-radius);
    box-shadow: 0 0 var(--default-shadow-blur) var(--default-shadow-color);
    width: 100%;

    &:hover {
      background-color: var(--default-theme-color);
    }
  }
}

.help-dialog {
  &__button {
    width: 100%;
    text-transform: none;
    font-weight: bold;
    font-size: var(--default-font-size);
    color: #000;
    padding: 5px 20px;
    background-color: var(--default-theme-color);
    border: 1px solid var(--button-borderColor);

    &:hover {
      background-color: var(--default-theme-hoverColor);
    }
  }

  &__shortcuts {
    display: flex;
    flex-direction: column;

    &-shortcut {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--light-border-color);

      &:last-child {
        border-bottom: none;
      }
    }

    &-content {
      display: flex;
      align-items: center;
      width: 100%;

    }
    &-text {
      display: flex;
      align-items: center;
      margin-right: 10px;
  }
    &-shortcut-key {
      background-color: var(--default-theme-color);
      margin: 0 5px;
      padding: 5px 5px;
    }

    &-chip {
      margin-left: 5px;


    }
  }
}