@import "src/css/variables.scss";

.container {
  position: absolute;
  inset: 0;
  box-sizing: border-box;
  padding: var(--default-spacing);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
