:root {
  --default-theme-color: #F3F8FF;
  --default-theme-hoverColor: #d2e2f9;
  --default-menu-bg-color: #e6e6e6;
  --default-spacing: 15px;

  --button-borderColor: #dbeaff;
  --light-border-color: #ebebeb;

  --default-shadow-color: rgba(0, 0, 0, 0.5);
  --default-shadow-blur: 5px;
  --default-font-size: 12px;
  --default-border-radius: 10px;

  --secondary-font-size: 14px;
}