.zoom-panel-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.zoom-panel-inner-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.zoom-panel-button {
    margin: 0 8px;
    padding: 10px;
    border: none;
    color: black;
    cursor: pointer;
}

.zoom-panel-button:hover {
    background-color: #f5f5f5;
}
