/* menu.css */
.menu-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 5px;
    z-index: 2;
}

.menu-inner-container {
    display: flex;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.menu-button {
    margin: 0 10px;
    padding: 10px;
    border: none;
    color: black;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #f5f5f5;
}

.menu-divider {
    width: 1px;
    height: 1.5rem;
    align-self: center;
    background-color: black;
}

.active {
    background-color: #e6e6e6;
    border-radius: 2px;
}
